<div class="container">
<section>
    <h1>Books</h1>
    <a class="button button3" ng-click="model.showAddPopUp()" >Add Book</a>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr ng-repeat="item in model.books">
                    <td>{{item.ID}}</td>
                    <td>{{item.Title}}</td>
                    <td>{{item.Author}}</td>
                    <td>
                        <button ng-click='model.deleteBook(item.ID)' class="button btn-cancel" title="{{'Delete ' + item.Title}}">Delete Book</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-bg" ng-if="model.showAddModel">
        <div class="modal-container">
            <add-book></add-book>
        </div>
    </div>
</section>
</div>